<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table{
            width: 100% !important;
        }
        table, tr, td, th{
            border: solid black 1px;
            margin: 0 !important;
        }
        tr, td{
            height: 20px;
        }
    </style>
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
