composer.lock
symfony.lock
yarn.lock

#CRON Results
compute_stats.txt
messenger.txt

/docker
/docker/*

/databases_saves
/databases_saves/*

/node_modules
/node_modules/*

/var
/var/*

/migrations
/migrations/*

/vendor
/vendor/*

/public/generated
/public/generated/*

docker-compose.prod.yml
/public/build
/public/build/*

/public/uploads
/public/uploads/*