composer.lock
symfony.lock
yarn.lock

#CRON Results
compute_stats.txt
messenger.txt

/docker
/docker/*

/databases_saves
/databases_saves/*

/node_modules
/node_modules/*

/var
/var/*

/bin
/bin/*

/migrations
/migrations/*

/vendor
/vendor/*

docker-compose.prod.yml
prod.env