<table id="example1" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th ng-repeat="h in headers">//h//</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in filtersData">
        <td>//user.id//</td>
        <td>//user.nom//</td>
        <td>//user.contrat//</td>
        <td>//user.avis//</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <th ng-repeat="h in headers">//h//</th>
    </tr>
    </tfoot>
</table>