<table id="example1" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th ng-repeat="h in headers">//h//</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="autorisation in filtersData">
            <td>// o.id //</td>
            <td>// o.statut //</td>
            <td>// o.sourceDisposition //</td>
            <td>// o.reference //</td>
            <td>// o.pointsAbordes //</td>
            <td>// o.obligation //</td>
            <td>// o.sanctions //</td>
            <td>// o.prevues //</td>
            <td>// o.responsable //</td>
        </tr>
    </tbody>
    <tfoot>
    <tr>
        <th ng-repeat="h in headers">//h//</th>
    </tr>
    </tfoot>
</table>