<div class="form-group">
    <label for="exampleSelectRounded0">Etat du contentieux</label>
    <select class="custom-select rounded-0" ng-model="chosenFilters.isClosed">
        <option value="false">En cours</option>
        <option value="true">Clos</option>
    </select>
</div>